.nav {
  margin-top: 0;
  margin: 0;
  height: 4vw;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #2a2e32;
}

.nav > a {
  text-decoration: none;
  background: #3ab1fc;
  font-size: 16px;
  padding: 12px 20px;
  text-transform: capitalize;
  letter-spacing: 0.025em;
  color: white;
  transition: all 0.125s ease;
}

.nav > a:hover {
  background-color: #a1dcff;
}

.nav > .picked {
  background-color: #1c5c81;
}
