.nav {
  height: 100vw;
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: #b8b8b8;
  padding: 32px;
}

.nav > a {
  margin: 0;
  text-decoration: none;
  background-color: #a9a9a9;
  font-size: 18px;
  padding: 12px 16px;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: #444;
  transition: all 0.125s ease;
}

.nav > a:hover {
  background-color: #dcdcdc;
}
